body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: red;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

nav a.active {
    border-bottom: 2px solid white;
}

main {
    padding: 20px;
}

#home {
    text-align: center;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.image-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 48%; 
}


.image-group:nth-child(odd) {
    background-color: #11f1aa; 
}

.image-group:nth-child(even) {
    background-color: rgba(243, 255, 6, 0.66); 
}



img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.text-container {
    width: 100%;
    margin-top: 10px;
}

p {
    font-size: 14px;
}

button {
    font-size: 16px;
    padding: 15px 30px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #ed8a8a;
    color: white;
    text-align: center;
    padding: 20px 0;
}


.footer-logo p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}


.footer-content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
}

.footer-contacts {
    margin-top: 20px; 
}

.footer-contacts p {
    margin: 0;
    font-size: 16px;
}

.footer-contacts a {
    margin: 0 10px;
    display: inline-block;
}

.footer-contacts img {
    width: 20px;
    height: 20px; 
}

.footer-copyright {
    margin-top: 20px;
}

.footer-copyright p {
    font-size: 14px;
}

